.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    text-align: center;
}
.list{
    display: none;
    margin-bottom: 10px;
    margin-top: 20px;
}
.list_choice{
    width:30%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
}
.list_choice:hover{
    background-color:#DCDCDC;
}
.item{
    padding: 20px;
    text-align: center;
    margin-right: 30px;
    font-weight: bold;
    width:10%;
}
.gray{
    background-color: #DCDCDC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.white{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blue{
    margin: 0px;
    position: relative;
    justify-content: end;
    bottom: 0px;
    padding: 20px;
    color: white;
    text-align: center;
    background-color:rgb(25, 41, 88);
}
h1{
    margin: 0;
}
.circle{
    display: flex;
    position: relative;
    justify-content: center;
    right: 0%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    justify-items: end;
    margin: 10px;
    margin-right: 100px;
    margin-left: 100px;
}
.circlar-landscape{
    margin: 30px;
    width: auto;
    height: 100%;
    margin: -50%;
    right: 10px;
    position: absolute;
    left: 200px;   
}
.me{
    padding-left:25%;
    padding-right:25%;
    padding-bottom: 30px;
}
.connectbox{
    border-style: solid;
    border-color: greenyellow;
    border-radius: 5%;
    padding: 10px;
    width: 50%;
    position: relative;
    right: 25%;
    left: 25%;
}
@media(max-width:1200px){
    .top{
        justify-content: center;
    }
    .item{
        width: 30%;
    }
    .me{
        padding-left:15%;
        padding-right:15%;
    }
    .gray{
        display: none;
    }
    .white{
        display: none;
    }
}
@media(max-width:600px){
    .top{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .item{
        width: 80%;
        margin-right: 0px;
        margin: 10%;
    }
    .me{
        padding-left:10%;
        padding-right:10%;
    }
    .connectbox{
        display: flex;
        justify-content: center;
    }
    .gray{
        display: none;
    }
    .white{
        display: none;
    }
}
