.exview{
    width: 250px;
    height: 450px;
    padding-left: 20%;
}
.combine{
    width: 450px;
    height: 250px;
    padding-left: 5%;
}
.cut{
    width:450px;
    height: 200px;
    padding-left: 5%;
    padding-right:5% ;
}
.main{
    text-align: center;
    font-weight: bold;
}
.firstsay{
    font-weight: bold;
    font-size:24px;
    margin-bottom: 10px;
    padding-left: 10%;
}
